// Include all of Bootstrap.
@import "bootstrap/bootstrap";

// Include all of Font Awesome.
@import "fontawesome/fontawesome";
@import "fontawesome/regular";
@import "fontawesome/solid";

/* StopTime's main CSS (overrides)
 */

// Prepare for the fixed-top navbar.
html {
  position: relative;
  min-height: 100%;
}

// Add some padding for the fixed-top navbar.
body {
  padding-top: 80px;
  margin-bottom: 24px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24px;
  line-height: 24px;
}
